<div class="row">
  <div class="col-6">
      <div class="card">
          <div class="card-body">
            <h4 class="card-title">Striped Progress bar</h4>
            <div class="progress m-t-20">
              <div class="active progress-bar bg-info progress-bar-striped" style="height:10px;"
              [style.width]="getPorgreso1"
              role="progressbar">
              </div>
            </div>
            <div class="progress m-t-20">
              <div class="active progress-bar bg-primary progress-bar-striped" style="height:10px;"
              [style.width]="getPorgreso2"
              role="progressbar">
              </div>
            </div>
          </div>
      </div>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-incrementador [btnClass]="'btn-info'" [progreso]="progreso1" (valorSalida)="progreso1 = $event"></app-incrementador>
      </div>
    </div>
  </div>

  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-incrementador [progreso]="progreso2" (valorSalida)="progreso2 = $event"></app-incrementador>
      </div>
    </div>
  </div>
</div>
